name: "@Bootstedp/eslint-config Deploy"

on:
  push:
    paths:
      - 'eslint/**'
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3

      - name: Get into eslint folder
        run: cd eslint

      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies
        run: yarn --frozen-lockfile 

      - name: Publish package on NPM registry
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish
