name: "@Bootstedp/eslint-config Deploy"

on:
  push:
    paths:
      - 'eslint/**'
      - '.github/**'

env:
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3

      - name: Setup Nodejs
        uses: actions/setup-node@v3
        with:
          node-version: lts/*

      - name: Install dependencies
        run: |
          cd eslint
          yarn --frozen-lockfile 

      - name: Publish package on NPM registry
        run: |
          cd eslint
          npm publish
